<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SampleSampleSample</title>
    </head>
    <body>
        <h1>本が並ぶよ</h1>
    {% if books == []%}
        <p>今月の新刊情報はありません</p>
    {% else %}
        <table border="1">
            <tr>
                <th>入荷予定日</th>
                <th>タイトル</th>
                <th>金額</th>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{book.arrival_day}}</td>
                    <td>{{book.title}}</td>
                    <td> {{book.price}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a href="{{url_for('form')}}">編集</a>
    </body>
</html>